<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Panel lekarza</title>
</head>
<body>
<nav th:replace="fragments/navbar.html"></nav>
<br>

<h4>Panel lekarza</h4>

Wygeneruj listę wizyt PDF na dzień:
<form th:action="@{/appointments/date/} +${doctorId}" method="get">
Data: <select name="pickedDate">

    <option th:each="date : ${dates}"
            th:value="${date}"
            th:text="${date}">
    </option>
</select>
    <br>
    <input type="submit" value="Generuj">
</form>
<a th:href="@{/doctors/update/} + ${doctorId}">Edytuj swoje dane</a>
<br>
<a th:href="@{/users/changePassword}">Zmień hasło</a>
<br>
<a th:href="@{/logout}">Wyloguj się</a>
</body>
</html>
