<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista pacjentów</title>
</head>
<body>
    <table>
        <thead style="background-color: cadetblue">
            <tr>
                <td>Id.</td>
                <td>Email</td>
                <td>Id. Pacjenta</td>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>PESEL</td>
                <td>Numer telefonu</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.userId}"></span></td>
                <td><span th:text="${user.email}"></span></td>
                <td><span th:text="${user.patientId}"></span></td>
                <td><span th:text="${user.firstName}"></span></td>
                <td><span th:text="${user.lastName}"></span></td>
                <td><span th:text="${user.pesel}"></span></td>
                <td><span th:text="${user.phoneNumber}"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>