<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>E-przychodnia - panel pacjenta</title>
</head>
<body>
    <h4>Panel Pacjenta</h4>
    <p th:text = "${user.id}">userId: </p>
    <br>
    <a href="/patients/patientData">Twoje dane</a>
    <br>
    <a href="/appointments/book">Umów wizytę</a>
    <br>
    <a href="/patients/deleteData">Usuń swoje dane i konto</a>
    <br>
    <a href="/appointments/appointmentData">Wyświetl swoje wizyty</a>
    <a th:href="@{/logout}">Wyloguj się</a>
</body>
</html>