<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>E-przychodnia - panel pacjenta</title>
</head>
<body>
    <h4>Panel Pacjenta</h4>
    <p th:text = "${user.id}">userId: </p>
    <br>
    <a th:href="@{/patients/patientData}">Twoje dane</a>
    <br>
    <a th:href="@{/doctors/all}">Lista lekarzy - umów wizytę</a>
    <br>
    <a th:href="@{/patients/deleteData}">Usuń swoje dane i konto</a>
    <br>
    <a th:href="@{/appointments/appointmentData}">Wyświetl swoje wizyty</a>
    <br>
    <a th:href="@{/logout}">Wyloguj się</a>

</body>
</html>