<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="text-white">LOGO</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Strona główna</a>
            </li>
            <li class="nav-item"  th:if="${@user.getId() == null}">
                <a class="nav-link" th:href="@{/login}">Zaloguj się</a>
            </li>
            <li class="nav-item" th:if="${session.isEmpty()== false} ">
                <a class="nav-link" th:href="@{/logout}">Wyloguj się</a>
            </li>
        </ul>
    </div>
</nav>
