<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>E-przychodnia</title>
</head>
<body>
<form th:action="@{/users/changePassword}" method="post" th:object="${newPassword}">
    <div>
        <label>Nowe hasło:</label>
        <input type="password" th:field="*{password1}" required>
        <td th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">Password Error</td>
    </div>
    <div>
        <label>Powtórz hasło:</label>
        <input type="password" th:field="*{password2}" required>
        <td th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">Password Error</td>
    </div>
    <button type="submit">Zmień hasło</button>
</form>
</body>
</html>
