<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Lista lekarzy</title>
    <style>
        body {
            padding-top: 100px;
        }
        @media (max-width: 979px) {
            body {
                padding-top: 20px;
            }
        }
    </style>
</head>
<body>
<nav th:replace="fragments/navbar.html"></nav>
<div class="container">
    <h2>Lista lekarzy</h2>
    <p th:if="${notAdmin}">Wybierz z poniższej listy lekarza i umów się na konkretny dzień i godzinę</p>
    <table class="table">
        <thead class="thead-dark">
        <tr class="text-center">
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Specjalizacja</th>
            <th> </th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="doctor : ${doctors}">
            <td><span th:text="${doctor.firstName}"></span></td>
            <td><span th:text="${doctor.lastName}"></span></td>
            <td><span th:text="${doctor.speciality}"></span></td>
            <td th:if="${not isAdmin}"><a th:href="@{/appointments/book/} + ${doctor.id}" class="btn btn-dark">Umów wizytę</a></td>
            <td th:if="${isAdmin}"><a th:href="@{/doctors/delete/} + ${doctor.id}" class="btn btn-dark">Usuń</a></td>
        </tr>
        </tbody>
    </table>
    <a th:if="${not isAdmin}" th:href="@{/patients/panel}" class="btn btn-dark mb-3" >Wróć do panelu pacjenta</a>
    <a th:if="${isAdmin}" th:href="@{/users/admin}" class="btn btn-dark mb-3" >Wróć do panelu admina</a>
</div>
</body>
</html>
