<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">

    <link rel="icon" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <title>E-przychodnia - Zaloguj się</title>
    <style>
        body {
            padding-top: 80px;
        }
        @media (max-width: 979px) {
            body {
                padding-top: 20px;
            }
        }
    </style>
</head>
<body class = text-center>
<nav th:replace="fragments/navbar.html"></nav>


<form th:action= "@{/authenticate}" method="post" class="form-signin col-lg-3 mx-auto">
    <h1 class="h3 mb-3 font-weight-normal">E-CLINIC</h1>
    <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
    <div th:if="${param.error}" class="alert alert-danger">
        Niepoprawna nazwa użytkownika lub hasło, spróbuj ponownie!
    </div>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Adres email" name="username" required autofocus>
    <label for="inputPassword" class="sr-only">Hasło</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Hasło"  name="password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Zapamiętaj mnie
        </label>
    </div>
    <div>
        <a th:href="@{/users/resetPassword}">Zapomniałem hasła</a>
    </div>
    <button class="btn btn-lg btn-primary bg-dark btn-block" type="submit">Zaloguj się</button>
</form>
</body>
</html>
