<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="float: left">
    <thead>
<tr class="header">
    <td>Id.</td>
    <td>Data</td>
    <td>Godzina</td>
</tr>
</thead>
<tbody>
<tr th:each="appointment : ${appointments}">
    <td><span th:text="${appointment.id}"></span></td>
    <td><span th:text="${appointment.date}"></span></td>
    <td><span th:text="${appointment.time}"></span></td>
</tr>
</tbody>
</table>
<table style="float: left">
    <thead>
    <tr class="header2">
        <td>Imię lekarza</td>
        <td>Nazwisko lekarza</td>
        <td>Specjalizacja</td>
        <td>Numer telefonu</td>
    </tr>
    </thead>
    <tbody><tr th:each="doctor : ${doctors}">
        <td><span th:text="${doctor.firstName}"></span></td>
        <td><span th:text="${doctor.lastName}"></span></td>
        <td><span th:text="${doctor.speciality}"></span></td>
        <td><span th:text="${doctor.phoneNumber}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>