<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Wizyty</title>
    <style>
        body {
            padding-top: 100px;
            padding-right: 50px;
            padding-left: 50px;
        }
        @media (max-width: 979px) {
            body {
                padding-top: 20px;
            }
        }
    </style>
</head>
<body>
<nav th:replace="fragments/navbar.html"></nav>
<br>
<div class="container">
    <h2>Twoje wizyty</h2>
    <p>Poniżej lista twoich wizyt, aby jakąś odwołać kliknij "Odwołaj"</p>
        <table class="table">
            <thead class="thead-dark">
            <tr class="text-center">
                <th>Data</th>
                <th>Godzina</th>
                <th>Imię lekarza</th>
                <th>Nazwisko lekarza</th>
                <th>Specjalizacja</th>
                <th>Numer telefonu</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="appointment : ${appointments}">
                <td><span th:text="${appointment.date}"></span></td>
                <td><span th:text="${appointment.time}"></span></td>
                <td><span th:text="${appointment.dcFirstName}"></span></td>
                <td><span th:text="${appointment.dcLastName}"></span></td>
                <td><span th:text="${appointment.dcSpeciality}"></span></td>
                <td><span th:text="${appointment.dcPhoneNumber}"></span></td>
                <td><span><a style="padding: 5px 5px 5px 5px" th:href="@{/appointments/cancel/} + ${appointment.id}" class="btn btn-dark">Odwołaj</a></span></td>
            </tr>
            </tbody>
        </table>
    <a th:if="${not isAdmin}" th:href="@{/patients/patientPanel}" class="btn btn-dark mb-3" >Wróć do panelu pacjenta</a>
    <a th:if="${isAdmin}" th:href="@{/users/admin}" class="btn btn-dark mb-3" >Wróć do panelu admina</a>

</div>
</body>
</html>