<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Zarezerwuj wizytę</title>
</head>
<body>
<form th:action="@{/appointments/book/} +${doctorId}" method="post" th:object="${appointment}">
    Doktor id: <span th:text="${doctorId}" th:field="*{doctorId}"></span><br>
    Data: <select th:field="*{date}">

        <option th:each="date : ${dates}"
                th:value="${date}"
                th:text="${date}">
        </option>
    </select>
    <br>
    Godzina: <input type="text" th:field="*{time}"><br>
    <input type="submit" value="Zarezerwuj">
</form>
</body>
</html>